body {
    background-color:#a8f1ff !important;
}

td {
    font-size:15px;
    vertical-align:middle !important;
    text-align:center;
}

.bordered, .bordered td {
    border-bottom:1px black solid;
}

.printRow {
    background-color:#ffffff;
    border:2px black solid;
}

.container {
    text-align:center;
    margin:0 auto;
}

.title {
    text-align:center;
    background: #4c4c4c;
    color:white;
}

.homeBox, .awayBox {
    float:left;
}

.highlight {
    background-color:yellow;
}

.printButton, .getButton {
    margin: 10px 0;
}

.logo {
    height:75px;
    padding-right:10px;
}

.matchupRow {
    background-color:#ffffff
}

.teamName {
    font-weight:bolder;
    font-size:1.0em;
}

#noJSON {
    display:none;
    background: #00ff7f;
    color:#228b22;
    border:2px dashed #228b22;
}

#gameDataTable {
    border: 2px black solid;
    margin-top:10px;
}

#weekNumber {
    font-size:15px;
}
